.navbar-nav .nav-item:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar-nav .nav-item {
    padding: 15px;
    font-weight: bold;
}

.container-fluid .navbar-brand {
    font-size: 20px;

}